# Local secret key file — DO NOT commit this to git (add .env to .gitignore).
OPENWEATHER_API_KEY=d1d08d93866a6cbe887477baab8c1d8f
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
