SECRET_KEY=change-this-in-production
GROQ_API_KEY=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
OPENAI_API_KEY=
STRIPE_SECRET_KEY=sk_test_51U51z2BGbzEBKAPrBKRd08kUcKIpmT3DifX3ywyQO2Bx6JJSnjjYEK1qgWomalQcqtNf2Vxxm64k9A0tmgBfwVuO00H3BbKJZrsk_test_51U51z2BGbzEBKAPrBKRd08kUcKIpmT3DifX3ywyQO2Bx6JJSnjjYEK1qgWomalQcqtNf2Vxxm64k9A0tmgBfwVuO00H3BbKJZr
STRIPE_WEBHOOK_SECRET=
